.cabecalho-container {
    margin-top: 1em !important;
}

#kepha-conversor {
    font-family: 'Luckiest Guy', cursive;
    display: inline;    
    font-size: 35pt;
}

@media (max-width: 767.98px) {
    #logo{
        max-width: 30%;
    }

    #kepha-conversor {
        font-size: 20pt;
    }
}

#logo {
    padding-left: 3em;
    margin-bottom: 1em;
}