:root {
    --font-primaria: 'Noto Sans', sans-serif;    
    --font-secundaria: 'Oswald', sans-serif;    
}

.conversor-container {
    background-color:rgba(255, 255, 255, 0.5);
    margin: 2em auto 0 auto;
    border-radius: 1em;    
}

/* Classes para formatar margin, paddings e alguns tamanhos para mobile */
@media (max-width: 767.98px) { 
    
    .conversor-container {
        margin: 1em auto 3em auto;
    }

    .conversor-container h3 {
        padding: 1em 1em !important;
        font-size: 1em !important;
    }

    .input-container {
        padding: 0em 0.5em !important;
    }
    
    .container-input-check {
        padding: 1em 1em !important;
    }

    .container-alerts {
        margin: 0 !important;        
        padding-bottom: 1em;
    }

    .container-alerts h4 {
        margin-top: 0 !important;
        font-size: 12pt !important;
    }

    .container-alerts {
        margin: 0 !important;
        padding: 1em 0 1em 0.8em !important;
    }


    .form-check-input {
        width: 1.5em !important;
        height: 1.5em !important;
        margin-right: 1em !important;
    }
    
}
/*Fim das classes para mobile*/


.conversor-container h3 {
    padding: 1em 2.2em;
    font-family: var(--font-primaria);
    font-size: 20pt;
}

.input-container {
    padding: 0em 3em;
}

.input-conversor {        
    border-radius: 1em;
    font-family: var(--font-secundaria);
    font-weight: 300;    
}

.container-input-check {
    padding: 3em 3.8em;
}

.form-check {
    padding-right: 3em;
}

.form-check-input {
    width: 2em;
    height: 2em;
    margin-right: 1em !important;
}

.form-check-label {
    font-size: 1.5em;
    font-family: var(--font-secundaria);
    font-weight: 700;
}

.container-alerts {
    margin: 0em 0 0em 3.5em;
    padding-bottom: 1em;
}

.container-alerts h4 {
    margin: 1em 0.5em;
    font-family: var(--font-primaria);
    font-size: 15pt;
}

.alert {
    border-radius: 1em;
    font-family: var(--font-secundaria);
    font-weight: 400;
} 